h1 {
	font-size: 32px;
	text-align:center;

}

#someForm, .employee{
background-color: #A3A375;
display: block;
margin-left: auto;
margin-right:auto;
clear: both;
width: 1200px;
color: #3D3D29;
font-weight: bold;
font-size: 22px;
border: 5px solid #3D3D29;
}

.employee {
display: inline-block;
width: 382px;
height:350px;
margin: 5px 3px 3px 5px;
padding-top:3px;
}


#someForm input[type='text']{
  width: 250px;
  height: 20px;
  display: inline-block;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

#someForm input[type='submit'] {    
  float:right;
  clear:both;
  display: block;
  background: #F9F9F9;
  color: #333333;
 
}

/*
#someForm input{
	display: inline;
	clear:both;
	margin-right: 0;
    height:25px;
    font-size:14pt;
    border-radius: 2%;
}


button {
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right:auto;

}







